.alert {
  padding: .50rem .50rem;
}
.calendar-col .alert {
  padding: .30rem .30rem;
  margin-bottom: 0;
}
.table td, .table th {
  padding: .50rem;
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.80);
  z-index: 999;
}

.loading-screen-message h2 {
  color:white;
}
